@model LeaveViewModel

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">View Leave</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row">
            <input asp-for="Id" hidden />
            <div class="p-3">
                <div class="form-floating py-1 col-12">
                    <input asp-for="UserName" disabled class="form-control border shadow" />
                    <label asp-for="UserName" class="ms-2">Name</label>
                </div>
                <div class="form-floating py-1 col-12">
                    <select id="SelectedLeaveType" asp-for="SelectedLeaveType" disabled class="form-select border shadow" asp-items="@(new SelectList(Model.LeaveTypes))">
                        <option disabled selected>--Select Leave Type--</option>
                    </select>
                    <label asp-for="SelectedLeaveType" class="ms-2">Leave Type</label>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="StartDate" disabled type="date" class="form-control border shadow" />
                    <label asp-for="StartDate" class="ms-2">Start Date</label>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="EndDate" disabled type="date" class="form-control border shadow" />
                    <label asp-for="EndDate" class="ms-2">End Date</label>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Comment" disabled class="form-control border shadow" />
                    <label asp-for="Comment" class="ms-2">Comment</label>
                </div>
                <div class="row pt-5">
                    <div class="col-6 col-md-3">
                        <a asp-controller="Leave" asp-action="Index" class="btn btn-success w-100">
                            <i class="bi bi-check-circle"></i> Back
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}